/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  nav{
    height: 3rem;
    width:100% ;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    position: absolute;
    /* pointer-events: none; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  body {
    margin: 0;
    height: 100vh;
    /* background-color: black; */
    overflow: hidden;
  }
  
  span {
    background: url("https://th.bing.com/th/id/OIP.5kzrJeB9zGNoosscqsJFpQHaHa?w=180&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -50%);
      opacity: 1;
      filter: hue-rotate(0);
    }
    100% {
      transform: translate(-50%, -5000%);
      opacity: 0;
      filter: hue-rotate(720deg);
    }
  }